body {
  display: flex;
  justify-content: center;        
  height: 100vh;           
  margin: 0;               
  background-color: #F9F0E2; 
}

p {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 45px;
    color: #650909;
    padding-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container input {
    background-color:#D5E4F4;
    font-family: 'Montserrat';
    height: 40px;
    width: 200px;
    margin-bottom: 10px;
    border-radius: 30px;
    align-items: center;
    padding-left: 5px;
}

form {
  display: flex;
  flex-direction: column; 
  gap: 15px;             
  align-items: center;     
}

form button {
  padding: 10px 20px;         
  border: 2px solid #650909;  
  border-radius: 15px;
  background-color: #E1C1CE;
}

form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
